site_name: Charity Commission register analysis
site_url: https://dataactivists.github.io/charity_commission_register/
site_description: An analysis of the Charity Commission's open data.
repo_url: https://github.com/dataactivists/charity_commission_register
repo_name: dataactivists/charity_commission_register
docs_dir: "reports/app/docs"
site_dir: "reports/app/site"

theme:
  name: material
  logo: assets/favicon.ico
  favicon: assets/favicon.ico
  icon:
    repo: octicons/mark-github-16
  language: en
  features:
    - navigation.expand
    - navigation.footer
    - navigation.path
    - navigation.tracking
    - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

plugins:
  - search:
      separator: '[\s\-\.]+'

markdown_extensions:
  - admonition # callouts
  - tables # tables
  - pymdownx.details # information in dropdowns
  - toc:
      permalink: "#" # anchors for headings
  - pymdownx.tasklist:
      custom_checkbox: true # for lists with checkboxes

nav:
  - Readme: index.md
  - Register of merged charities:
    - Intro: register_of_merged_charities/intro.md
    - Data quality: register_of_merged_charities/data_quality.md
    - Transferors: register_of_merged_charities/most_frequent_transferors.md
    - Transferees: register_of_merged_charities/most_frequent_transferees.md
    - Merger counts: register_of_merged_charities/merger_counts.md
    - Mergers by annual return: register_of_merged_charities/mergers_by_annual_return.md
